.App {
  max-width: 600px;
  margin: 50px auto;
  width: 90%;
}

h2 {
  margin-bottom: 50px;
}

form {
  display: flex;
  flex-wrap: wrap;
}

form > label {
  flex: 0 0 100%;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 12px;
  text-transform: uppercase;
}

form > div {
  flex: 1 1 50%;
}

form > div {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

form > div > label {
  margin-bottom: 8px;
}

input:not([type='checkbox']),
select {
  margin-bottom: 15px;
  width: 220px;
}

form > label:not(:first-of-type) {
  margin-top: 30px;
}

.checkbox {
  display: flex;
}

.checkbox input {
  margin-right: 10px;
}

button {
  border-radius: 2px;
  padding: 10px 20px;
}
